# Copy to /etc/systemd/system/match.service

[Unit]
Description=Start match service
After=network.target

[Service]
Type=simple

User=pi
Group=pi
UMask=007

ExecStart=/home/pi/isae-bots-hn-2024/scripts/runMatch.sh

[Install]
WantedBy=multi-user.target
