[Unit]
Description=TopServer Service
After=docker.service
Requires=docker.service

[Service]
Type=simple
Restart=always
StandardInput=null

User=pi
Group=pi
UMask=007

ExecStart=/home/pi/isae-bots-hn-2024/scripts/launchTopServer.sh

[Install]
WantedBy=multi-user.target
