<!-- Strat + serial + HMI nodes. Can only be launched on the real robot, not on a computer. -->

<launch> 
	<!-- Serial ports-->
	<arg name='BR' default="/dev/ttyBR" />
	<arg name='ACT' default="/dev/ttyACT" />

	<!-- true to simulate the actuators -->
	<arg name="NO_ACT" default="false" />
	<!-- true to disable the lidar -->
	<arg name="NO_LIDAR" default="true" />
	<!-- true to disable human-machine interface nodes -->
	<arg name="NO_HMI" default="false" />

	<!-- FIXME: micro_ros nodes moved to master_node.launch because they can't be launched from Python (why?)
			and this script is launched by the master_node -->

	<!-- Simulate the actuators if not present -->
	<node name="ACN" pkg="sim" exec="actuator_node" output="both" if="$(var NO_ACT)"/>

	<!-- Hokuyo driver for the Lidar -->
	<include file="$(find-pkg-share urg_node2)/launch/urg_node2.launch.py" unless="$(var NO_LIDAR)" />
	
	<!-- traitement obstacles -->
	<node name="LID" pkg="sensors" exec="lidar_node" output="both" />
	<!-- <node name="SON" pkg="sensors" exec="sonar_node" output="both" /> -->
	<!-- <node name="LORA" pkg="sensors" exec="camera_node" output="both" /> -->

	<!-- strat -->
	<include file="scripts/strat.launch" />

	<!-- Human-machine interface nodes -->
	<group unless="$(var NO_HMI)">
		<node name="ISB" pkg="top" exec="isb_node" output="both" />
		<node name="LCD" pkg="top" exec="lcd_node" output="both" />
	</group>
	
</launch>
