<launch>  
	<arg name='BR' default="/dev/ttyBR" />
	<arg name='ACT' default="/dev/ttyACT" />

	<!-- micro_ros -->

	<node name="SerialNodeBR" pkg="micro_ros_agent" exec="micro_ros_agent" output="screen" args="serial --dev $(var BR)" />
	<node name="SerialNodeACT" pkg="micro_ros_agent" exec="micro_ros_agent" output="screen" args="serial --dev $(var ACT)" />

	<!-- driver_lidar -->

	<include file="$(find-pkg-share urg_node2)/launch/urg_node2.launch.py" />
	
	<!-- traitement obstacles -->

	<node name="LidarNode" pkg="sensors" exec="lidar_node"  output="screen" />

	<!-- strat -->

	<node name="DEC" pkg="strat" exec="dec_node" output="screen" />
	<node name="ACT" pkg="strat" exec="act_node" output="screen" />
	<node name="DSP" pkg="displacement" exec="disp_node" output="screen" />

	<node name="ISB" pkg="top"  exec="isb_node" output="screen" />
	<node name="LCD" pkg="top"  exec="lcd_node" output="screen" />
	
</launch>
