<!--
Exemple: ros2 launch scripts/remote_control.launch BR:=/dev/ttyACM0 
-->
<launch>  
	<arg name="BR" default="/dev/ttyBR"/>

	<node name="SerialNodeBR" pkg="micro_ros_agent" exec="micro_ros_agent" output="both" args="serial --dev $(var BR)" />
	<node name="WiimoteNode" pkg="control"  exec="wiimote_node" output="both"/>
</launch>
