<!--
Launch script for GR (sim for now)
-->


<launch>  

	<!-- strat nodes -->
	<node name="DEC" pkg="strat" type="dec_node.py" output="screen" cwd="node" required="true"/>
	<node name="ACT" pkg="strat" type="act_node.py" output="screen" cwd="node" required="true"/>
	<node name="DSP" pkg="displacement" type="disp_node.py" output="screen" cwd="node" required="true"/>
	<node name="ACN" pkg="sim" type="actuators_node.py" output="screen" cwd="node" required="true"/>

	<!-- sim nodes -->
	<node name="OBS" pkg="sim" type="obstacles_node.py" output="screen" cwd="node" required="true"/>


</launch>
