<!--
Strat + simulation nodes
-->

<launch>  

	<!-- strat nodes -->
	<include file="scripts/strat.launch" />

	<!-- sim nodes (actuators and BR) -->
	<node name="ACN" pkg="sim" exec="actuator_node" output="both"/>
	<node name="BRN" pkg="br_simu" exec="simulation_br" output="both"/>

	<!-- simulates a fake moving obstacle -->
	<node name="OBS" pkg="sim" exec="obstacle_node" output="both"/>

</launch>
